<div class="wrap-mobile">
  <div class="container">
    <div class="hd-mobile">
      <div class="cat-mobile items-mb">
        <a class="cat-icon" href="javascript:void(0)">
          {% include 'line_menu' %}
        </a>
        <nav class="menu-mobile">
          <span class="closemn">{% include 'close_mn' %}</span>
          <ul></ul>
        </nav>
      </div>

      <div class="search-mobile items-mb">
        <a class="search-icon" href="javascript:void(0)">
          {% include 'icon_search' %}
        </a>
        <div class="search-form">
          {% include 'search-form' %}
        </div>
      </div>

      <div class="logo-mobie items-mb">
        {% if template.name == 'index' %}
        <h1 class="logo">
          {% else %}
          <div class="logo">
            {% endif %}
            {% if section.settings.logo %}
            {%- assign img_url = section.settings.logo | img_url: '1024x1024' -%}
            <a href="/" class="logo_image">
              {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
              <img class="lazyload"
                   src="{{ section.settings.logo | img_url: '300x300' }}"
                   data-src="{{ img_url }}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ logo_alt | escape }}">
            </a>
            {% else %}
            <a class="logo_link" href="/">{{ shop.name }}</a>
            {% endif %}
            {% if template.name == 'index' %}
            </h1>
          {% else %}

          </div>
        {% endif %}
      </div>

      <div class="cart-mobile items-mb">
        <a class="cart-icon" href="javascript:void(0)">
          {% include 'icon_cart' %}
          <span class="cart-count">{{ cart.item_count }}</span>
        </a>
        {% include 'dropdown-cart'%}
      </div>

      <div class="nav-mobile items-mb">
        <a class="icon-option" href="javascript:void(0)">
          {% include 'icon_settings' %}
        </a>
        <nav class="mn-mobile">
          <span class="closemn">{% include 'close_mn' %}</span>
          <ul></ul>
        </nav>
      </div> 

    </div>
  </div>
</div>