{% assign on_sale = false %}
{% if product.compare_at_price_min > product.price_min %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available  %}
{% assign sold_out = false %}
{% endif %}

{% assign label_new = "new" %}
{% assign tags = product.tags | split: ',' %}

<div class="product-item" id="product-{{ product.id }}">
  <div class="product-image">
    <a href="{{ product.url | within: collection }}" >
      <img src="{{ product.featured_image.src  | img_url: '100x'}}" alt="{{ product.featured_image.src  | escape }}"             
           data-src="{{ product.featured_image.src  | img_url: '600x' }}"
           class="lazyload"
           data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
           data-aspectratio="{{   product.featured_image.src   | img_url: 'grande' }}"
           data-sizes="auto"
           alt="{{ featured_image.alt | escape }}"/>
    </a>

  </div>
  <div class="product-content">
    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
    <a class="product-title" href="{{ product.url | within: collection }}">
      {% include 'lang' with product.title %}
    </a>

    <div class="price">
      {% if on_sale %}
      <p class="sale">
        <span class="compare-price">{{ product.compare_at_price_min | money }}</span>
        <span class="special-price">
          {% if product.price_varies %}
          {% include 'varies_from' %}
          {% endif %}
          {{ product.price_min | money }}
        </span>              
      </p>
      
      {% else %}
      <div class="regular-price">
        <span>{% if product.price_varies %}{% include 'varies_from' %}{% endif %}{{ product.price_min | money }}</span>
      </div>
      {% endif %}
    </div>

    <div class="product-label">{{ money_without_currency }}
      {% if on_sale %}
      <div class="icon-sale">
        -{{ product.compare_at_price_min | minus: product.price_min | times: 100.0 | divided_by: product.compare_at_price | money_without_currency | replace: ',', '.' | times: 100 | remove: '.0'}}%
      </div>
      {% endif %}

      {% if sold_out %}
      <div class="icon-sold-out" {% if settings.enable_multilang %}data-translate="products.product.sold_out"{% endif %}>{{ 'products.product.sold_out' | t }}</div>
      {% endif %}

      {% for t in tags %}
      {% assign tag = t | strip %}
      {% assign tag_value = tag | handleize %}
      {% if tag contains label_new %}
      <div class="icon-new" {% if settings.enable_multilang %}data-translate="products.product.new"{% endif %} >{{ 'products.product.new' | t }}</div>
      {% endif %}
      {% endfor %}
      
    </div>
    
    <div class="product-func">
      {% if settings.enable_quick_view %}
      <div class="quickview quickview-button" >
        <a href="javascript:void(0)" id="{{ product.handle }}" title="{{ 'products.product.quick_view' | t }}" {% if settings.enable_multilang %}data-translate="products.product.quick_view" translate-item="title"{% endif %}>
          <span>
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </a>
      </div>
      {% endif %}
      <div class="occ-action" id="product-actions-{{ product.id }}">
        {% assign variantCount = product.variants | size %}
        {% form 'product', product, class: "variants" %}
        {% if sold_out %}
        <input class="btn add-to-cart-btn" type="submit" value="{{ 'products.product.unavailable' | t }}" disabled="disabled" {% if settings.enable_multilang %}data-translate="products.product.unavailable"{% endif %}/>
        {% else %}
        {% if variantCount > 1 %}
        <input class="btn" type="button" onclick="window.location.href='{{product.url}}'" value="{{ 'products.product.select_options' | t }}" {% if settings.enable_multilang %}data-translate="products.product.select_options"{% endif %}/>
        {% else %}
        <input type="hidden" name="id" value="{{ product.variants[0].id }}" />      
        <input class="btn add-to-cart-btn" type="submit" value="{{ 'products.product.add_to_cart' | t }}" {% if settings.enable_multilang %}data-translate="products.product.add_to_cart"{% endif %}/>
        {% endif %}
        {% endif %}
        {% endform %}
      </div>
      {% include 'wishlist-product' %}      
    </div>
    {% unless template contains 'index' %}
          {% include 'item-swatch' %}
    {% endunless %}
  </div>
</div>