<style>
  .top_header{
    background:{{section.settings.bg_hd_top}};
    border-top:1px solid {{section.settings.hd_bd}};
    color:{{section.settings.hd_color}};
  }
  .top_header a{
     color:{{section.settings.hd_color}};
  }
  .bottom_header{
  	background:{{section.settings.bg_bottom}};
    color:{{section.settings.color_bottom}};
  }
  .bottom_header a{
  	color:{{section.settings.color_bottom}};
  }
</style>
<header class="header">
  {% if section.settings.dp_hd_top %}
  <div class="top_header">
    <div class="container">
      <div class="row">
        <div class="hd-content">
          <div class="hd-content-left">
            <div class="hd_text hd_item hiden-mb">
              {% include 'lang' with section.settings.hd_text_1 %}
            </div>
            <div class="hd_lang hd_item">
                  {% if settings.enable_multilang %}
              {% include 'lang' with settings.text_lang %}
          
                <select class="lang-switcher">
                  <option value="1">{{ settings.lange_1 }}</option>
                  <option value="2">{{ settings.lange_2 }}</option>
                </select>  
         
              {% endif %}
            </div>
            <div class="hd_cur hd_item">
              {% include 'lang' with settings.text_cur %}
              {% include 'new-currency-picker' %}
            </div>
          </div>
          <div class="hd-content-right">
            
            <div class="hd_item dropdown hiden-dk">
              <a data-toggle="dropdown" href="javascript:void(0)" {% if settings.enable_multilang %}data-translate="customer.account.title"{% endif %}>
                {{ 'customer.account.title' | t }}
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </a>
              <div class="dropdown-menu">
                <a href="/account" {% if settings.enable_multilang %}data-translate="customer.account.title"{% endif %}>
                  {{ 'customer.account.title' | t }}
                </a>
                <a {% if settings.enable_multilang %}data-translate="wishlist.general.my_wishlist"{% endif %} href="/pages/wish-list"> {{ 'wishlist.general.my_wishlist' | t }}</a>
                <a href="/checkout" data-translate="cart.general.checkout">
                  {{ 'cart.general.checkout' | t }}
                </a>
                {% if customer %}
                <a href="/account/logout" {% if settings.enable_multilang %}data-translate="layout.customer.log_out"{% endif %}>
                  {{ 'layout.customer.log_out' | t }}
                </a>
                {% else %}
                <a href="/account/login" data-translate="customer.login.sign_in">
                  {{ 'customer.login.sign_in' | t }}
                </a>
                <a id="customer_register_link" href="/account/register" data-translate="layout.customer.create_account">{{ 'layout.customer.create_account' | t }}</a>
                {% endif %}
              </div>
            </div>
            
            <div class="hd_item hiden-mb">
              <a href="/account" {% if settings.enable_multilang %}data-translate="customer.account.title"{% endif %}>
                {{ 'customer.account.title' | t }}
              </a>
            </div>
            
            
            <div class="hd_item hiden-mb">
              <a href="/checkout" data-translate="cart.general.checkout" >
                {{ 'cart.general.checkout' | t }}
              </a> 
            </div>
            <div class="hd_item hiden-mb">
              {% if customer %}
              <a href="/account/logout" {% if settings.enable_multilang %}data-translate="layout.customer.log_out"{% endif %}>
                {{ 'layout.customer.log_out' | t }}
              </a>
              {% else %}
              <a href="/account/login" data-translate="customer.login.sign_in">
                {{ 'customer.login.sign_in' | t }}
              </a>
              <span style="padding:0 5px"> or </span>
              <a href="/account/register" data-translate="layout.customer.create_account">{{ 'layout.customer.create_account' | t }}</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="bottom_header">
    <div class="container">
      <div class="row">
        <div class="header_logo item">
          {% if template.name == 'index' %}
          <h1 class="logo">
            {% else %}
            <div class="logo">
              {% endif %}
              {% if section.settings.logo %}
              {%- assign img_url = section.settings.logo | img_url: '1024x1024' -%}
              <a href="/" class="logo_image">
                {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
                <img class="lazyload"
                     src="{{ section.settings.logo | img_url: '300x300' }}"
                     data-src="{{ img_url }}"
                     data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                     data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                     data-sizes="auto"
                     alt="{{ logo_alt | escape }}">
              </a>
              {% else %}
              <a class="logo_link" href="/">{{ shop.name }}</a>
              {% endif %}
              {% if template.name == 'index' %}
              </h1>
            {% else %}
            
		</div>
          {% endif %}
        </div>

        <div class="header_search item">
          {% include 'search-form' %}
        </div>

        <div class="item col-right">
          
          <div class="header-wishlist">
            <a href="/pages/wish-list">
              <i class="fa fa-heart-o" aria-hidden="true"></i>
            </a>
          </div>
          
          <div class="header_cart">
         	{% include 'dropdown-cart'%}
          </div>
          
          <div class="my-cart">
            <span>My cart</span>
            <span class="all-price">{{cart.total_price | money}}</span>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
  {% include 'header-mobile' %}
</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
    	{
    		"type" : "image_picker",
    		"id": "logo",
    		"label": "Logo Image"
    	},
		{
			"type": "header",
			"content" : "Header Top"
		},
		{
			"type" : "checkbox",
			"id" : "dp_hd_top",
			"label" : "Display Header Top",
			"default" : true
		},
		{
			"type" : "color",
			"id" : "bg_hd_top",
			"label" : "Background Header Top",
			"default" : "#231e17"
		},
		{
			"type" : "color",
			"id" : "hd_bd",
			"label" : "Border color",
			"default" : "#fb9455"
	    },
		{
			"type" : "color",
			"id": "hd_color",
			"label" : "Text Color",
			"default" : "#fff"
		},
		{
			"type" : "textarea",
			"id": "hd_text_1",
			"label" : "Header text 1",
			"default" :"Welcome Our Occasion!"
		},
		{
			"type" : "header",
			"content" : "Header Bottom"	
		},
		{
			"type" : "color",
			"id":"bg_bottom",
			"label" : "Background Bottom",
			"default" : "#33302b"
		},
		{
			"type" : "color",
			"id":"color_bottom",
			"label" : "Color",
			"default" : "#fff"
		}
    ]
  }
{% endschema %}

{% if settings.enable_multilang %}
<script>
  translator.updateLangSwitcher();
  jQuery('.lang-switcher').selectize();          
</script>
<style>        
  .selectize-control div[data-value~="1"] {background: url({{ "i-lang-1.png" | asset_url }}) left center no-repeat;}        
  .selectize-control div[data-value~="2"] {background: url({{ "i-lang-2.png" | asset_url }}) left center no-repeat;}        
</style>
{% endif %}