{% if section.settings.display_recently_viewed_products %} 
{{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
{{ 'jquery.products.min.js' | asset_url | script_tag }}
{{ 'slick.min.js' | asset_url | script_tag }}

<section class="recently-viewed-products">
  {% if section.settings.recently_viewed_products_title != '' %}
  <div class="header-text">
    <h2>
      {% include 'lang' with section.settings.recently_viewed_products_title %}
    </h2>
  </div>
  {% endif %}
  
  <div class="products-grid row" id="recently-viewed-products-grid"></div>
</section>

{% if settings.enable_multilang %}
  <script>
    function splitTitle(title) {
      if (title.indexOf("|") < 0) 
        return title;
        var titleArr = title.split("|")[0];
        return titleArr;
    }

    function splitTitle2(title) {
      if (title.indexOf("|") < 0) 
        return title;
      	var titleArr = title.split("|")[1];
      	return titleArr;
    }
  </script>
{% else %}
  <script>
    function splitTitle(title) {
      if (title.indexOf("|") < 0) 
        return title;
      	var titleArr = title.split("|")[0];
      	return titleArr;
    }
  </script>
{% endif %}

  {% raw %}
  <script id="recently-viewed-product-grid-template" type="text/x-jquery-tmpl">
  {% endraw %}
  
  <div class="grid-item col-6 col-md-3">
    <div class="inner product-item {% raw %}{{if !available}} sold-out {{/if}}{{if compare_at_price_min > price_min}}on-sale{{/if}}" id="product-${id}">
        <div class="inner-top">
			<div class="product-top">
            	<div class="product-image">
    				<a href="${url}" class="product-grid-image">
                      <img src="${Shopify.Products.resizeImage(featured_image, "large")}" alt="${featured_image.alt}"/>
                    </a>
    			</div>
                
                <div class="product-label">
                  {{if compare_at_price_min > price_min}} 
                    <div class="icon-sale">
                      <span {% endraw %}{% if settings.enable_multilang %}data-translate="products.product.sale"{% endif %}>
                          {{ 'products.product.sale' | t }}{% raw %}
                      </span>
    				</div>
                  {{/if}}
                  {{if !available}}
                    <div class="icon-sold-out">
                      <span {% endraw %}{% if settings.enable_multilang %}data-translate="products.product.sold_out"{% endif %}>
                      	{{ 'products.product.sold_out' | t }}{% raw %}
                      </span>
                    </div>
                  {{/if}}
                </div>
    		</div>
            
            
            <div class="product-content">
                                
                {% endraw %}
                {% if settings.display_product_reviews %}
                <span class="shopify-product-reviews-badge" data-id="${id}"></span>
                {% endif %}
                {% raw %}
                
                {% endraw %}
                {% if settings.enable_multilang %}
                {% raw %}
                  <a class="product-title lang1" href="${url}">${splitTitle(title)}</a>
                  <a class="product-title lang2" href="${url}">${splitTitle2(title)}</a>
                {% endraw %}
                {% else %}
                {% raw %}
                  <a class="product-title lang1" href="${url}">${splitTitle(title)}</a>
                {% endraw %}
                {% endif %}
                {% raw %}
                
                <div class="price">
    				{{if compare_at_price_min > price_min}} 
                      <p class="sale">
                        <span class="compare-price">
                        	{{html Shopify.formatMoney(compare_at_price_min, window.money_format)}}
    					</span>
                        
                        <span class="special-price">
                        	{{if price_varies}}
                            {% endraw %}{% include 'varies_from' %}{% raw %}
                        	{{/if}}
                            {{html Shopify.formatMoney(price_min, window.money_format)}}
    					</span>
                      </p>
                    {{else}}
                      <p class="regular-product">
                        <span>
                        	{{if price_varies}}{% endraw %}{% include 'varies_from' %}{% raw %}{{/if}}
                            {{html Shopify.formatMoney(price_min, window.money_format)}}
    					</span>
                      </p>
                    {{/if}}
    			</div>
    		</div>
      </div>
    </div>
  </div>

</script>
{% endraw %}

<script>
  Shopify.Products.showRecentlyViewed({ 
    howManyToShow: {{ section.settings.number_of_recently_viewed_products }},
    wrapperId: 'recently-viewed-products-grid', 
    templateId: 'recently-viewed-product-grid-template',
    onComplete: function() {
    	var recentlyViewBlock = $('.recently-viewed-products');
        var recentlyGrid = recentlyViewBlock.find('#recently-viewed-products-grid');
        var productGrid = recentlyGrid.children();
        var productImage = recentlyViewBlock.find('.products-grid .product-image');
    
      if(recentlyGrid.children().length > 0) {
          recentlyViewBlock.show();

          if(recentlyViewBlock.is(':visible')) {
            if (window.product_image_resize) {
              $('#recently-viewed-products-grid img').fakecrop({ 
                fill: window.images_size.is_crop,
                widthSelector: productImage,
                ratioWrapper: window.images_size
              });
            };

            {% if settings.enable_multilang %}
            if (translator.current_lang == 2)
              translator.doTranslate('.recently-viewed-products');
            {% endif %}

            var timer;

            clearTimeout(timer);

            timer = setTimeout(function() {
              if(recentlyGrid.hasClass('slick-initialized')) {
                  recentlyGrid.slick('unslick');
                  recentlyGrid.find('.slick-track').removeAttr('style');
                  recentlyGrid.find('.slick-slide').removeAttr('style');
                  recentlyGrid.find('button.slick-arrow').remove();
                  recentlyGrid.find('.slick-list').removeAttr('style');
              };

              if(!recentlyGrid.hasClass('slick-initialized')) {
                  recentlyGrid.slick({
                    infinite: true,
                    speed: 500,
                    slidesToShow: 5,
                    slidesToScroll: 5,
                    arrows: true,
                    nextArrow: '<button type="button" class="slick-next"><?xml version="1.0" encoding="iso-8859-1"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 476.213 476.213" style="enable-background:new 0 0 476.213 476.213;" xml:space="preserve"><polygon points="476.213,238.105 400,161.893 400,223.106 0,223.106 0,253.106 400,253.106 400,314.32 "/></svg></button>',
                    prevArrow: '<button type="button" class="slick-prev"><?xml version="1.0" encoding="iso-8859-1"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 476.213 476.213" style="enable-background:new 0 0 476.213 476.213;" xml:space="preserve"><polygon points="476.213,223.106 57.426,223.106 91.819,188.713 70.606,167.5 0,238.106 70.606,308.713 91.819,287.5 57.426,253.106 476.213,253.106 "/></svg></button>',

                    responsive: [
                      {
                        breakpoint: 768,
                        settings: {
                          slidesToShow: 4,
                          slidesToScroll: 4
                        }
                      },
                      {
                        breakpoint: 480,
                        settings: {
                          slidesToShow: 2,
                          slidesToScroll: 2,
                          dots: true,
                          arrows: false

                        }
                      }
                    ]
                });
              };
            }, 100);      

            if($(".spr-badge").length > 0) {
              return window.SPR.registerCallbacks(), window.SPR.initRatingHandler(), window.SPR.initDomEls(), window.SPR.loadProducts(), window.SPR.loadBadges();
            }; 
  
  			if (window.show_multiple_currencies) {
               Currency.convertAll(window.shop_currency, jQuery('.currencies').val(), 'span.money', 'money_format');
            };
          }; 
        };    
    }
  });
</script>

{% if template contains 'product' %}
<script>
  Shopify.Products.recordRecentlyViewed();
</script>
{% endif %}

{% endif %}

{% schema %}
  {
    "name": "Recently Viewed Products",
	"class": "recently-viewed-products-bg",
    "settings": [
      {
        "type": "checkbox",
        "id": "display_recently_viewed_products",
        "label": "Display Recently Viewed Products?",
        "default": true
      },
      {
        "type": "text",
        "id": "recently_viewed_products_title",
        "label": "Title of recently viewed products",
        "default": "Recently Viewed Products"
      },
      {
        "type": "text",
        "id": "number_of_recently_viewed_products",
        "label": "Number of recently viewed products",
        "default": "8"
      }
      
    ]
  }
{% endschema %}
