<section class="occ-slideshow">
  <div class="slideshow-wrap">
    <div class="row">

      <div class="col-left {% if section.settings.display_img_right %}col-md-9{% else %}col-md-12{%endif%}">
        <div class="slideshow" data-auto="{% if section.settings.autoplay %}true{% else %}false{% endif %}" data-speed="{{ section.settings.slideshow_speed }}">
          {% for block in section.blocks %}
          <div class="slide-item">

            <a href="{{ block.settings.link_button }}">
              {%- assign img_url = block.settings.image_slide | img_url: '2000x' -%}
              {% if block.settings.image_slide != blank %}
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{ block.settings.header_silde | escape }}"
                   class="lazyload img-fluid"
                   data-src="{{ img_url }}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-sizes="auto">
              {% else %}
              <div class="not_img">
                <span> ( 690 x 385 )Px</span>
              </div>
              {% endif %}

              <div class="content">

                {% if block.settings.header_silde != blank %}
                <h2 style="font-size:{{block.settings.font_size_header}}; color:{{block.settings.color_header}}">{% include 'lang' with block.settings.header_silde %}</h2>
                {% endif %}

                {% if block.settings.image_des %}
                <div class="des" style="font-size:{{block.settings.font_size_des}}; color:{{block.settings.color_des}}">
                  {% include 'lang' with block.settings.image_des %}
                </div>
                {% endif %}

                {% if block.settings.button_slide != blank %}
                <div class="btn" style="font-size:{{block.settings.font_size_button}}; 
                                        color:{{block.settings.color_button}};
                                        ">
                  {% include 'lang' with block.settings.button_slide %}
                </div>
                {% endif %}

              </div>
            </a>

          </div>
          {% endfor %}
        </div>
      </div>

      {% if section.settings.display_img_right %}
      <div class="col-right col-md-3">

        {% if section.settings.img_right_1 != blank %}
        <a href="{{section.settings.link_img_right_1}}" class="col1 col-6 col-md-12 ">
          {%- assign img_url_1 = section.settings.img_right_1 | img_url: '800x' -%}
          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt=""
               class="lazyload img-fluid"
               data-src="{{ img_url_1 }}"
               data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
               data-sizes="auto">
        </a>
        {% endif %}

        {% if section.settings.img_right_2 != blank %}
        <a href="{{section.settings.link_img_right_2}}" class="col2 col-6 col-md-12">
          {%- assign img_url_2 = section.settings.img_right_2 | img_url: '800x' -%}
          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt=""
               class="lazyload img-fluid"
               data-src="{{ img_url_2 }}"
               data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
               data-sizes="auto">
        </a>
        {% endif %}

      </div>
      {% endif %}

    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Slideshow",
    "max_blocks": 15,
    "settings": [
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Auto slides",
        "default": true
      },
      {
        "type": "select",
        "id": "slideshow_speed",
        "label": "Change slides every",

        "options": [
          { "value": "5000", "label": "5 seconds" },
          { "value": "6000", "label": "6 seconds" },
          { "value": "7000", "label": "7 seconds" },
          { "value": "8000", "label": "8 seconds" },
          { "value": "9000", "label": "9 seconds" },
          { "value": "10000", "label": "10 seconds" }
        ],
        "default": "5000"
      },
	  {
		"type" : "text",
		"id" : "img_height",
		"label" : "Image height",
		"default" : "385px"
	  },
	  {
		"type" : "header",
		"content" : "Column Right"
	  },
	  {
		"type" : "checkbox",
		"id" : "display_img_right",
		"label" : "Enable",
		"default" : true
	  },
	  {
		"type" : "image_picker",
		"id" : "img_right_1",
		"label" : "Select Image 1",
		"info" : "Recommended Image: Width x Height (230 x 185)PX" 
	  },
	  {
		"type" : "url",
		"id" : "link_img_right_1",
		"label" : "Link Image 1"
      },
	  {
		"type" : "image_picker",
		"id" : "img_right_2",
		"label" : "Select Image 2",
		"info" : "Recommended Image: Width x Height (230 x 185)PX" 
	  },
	  {
		"type" : "url",
		"id" : "link_img_right_2",
		"label" : "Link Image 2"
      }
	],
	"blocks" : [
		{
			"type" : "image",
			"name" : "Image Slide",
			
			"settings":[
				{
					"type" : "image_picker",
					"id" : "image_slide",
					"label" : "Select Image",
					"info" : "Recommended Image: Width x Height (685 x 385)PX" 
				},
				{
					"type": "select",
					"id": "alignment",
					"label": "Text alignment",
					"default": "left",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
					    {
							"value": "center",
							"label": "Center"
					    },
					    {
							"value": "right",
							"label": "Right"
					    }
					]
				},
				{
					"type" : "text",
					"id" : "header_silde",
					"label" : "Header",
					"default" : "Occasion" 
				},
				{
					"type" : "text",
					"id" : "font_size_header",
					"label" : "Header Font Size ",
					"default" : "48px"
				},
				{
					"type" : "color",
					"id" : "color_header",
					"label" : "Header Color",
					"default" : "#673a3f"
				},
				{
					"type" : "textarea",
					"id" : "image_des",
					"label" : "Slide description",
					"default" : "Shoes 2018"
				},
				{
					"type" : "text",
					"id" : "font_size_des",
					"label" : "Description Font Size", 
					"default" : "60px" 
				},
				{
					"type" : "color",
					"id" : "color_des",
					"label" : "Image description Color",
					"default" : "#673a3f"
				},
				{
					"type" : "text",
					"id" : "button_slide",
					"label" : "Button Slideshow",
					"default" : "Collection Now"
				},
				{
					"type" : "url",
					"id" : "link_button",
					"label" : "Link Button"
				},
				{
					"type" : "text",
					"id" : "font_size_button",
					"label" : "Font Size Button",
					"default" : "14px"
				},
				{
					"type" : "color",
					"id" : "color_button",
					"label" : "Button Color",
					"default" : "#fff"
				}
				
				
			]
		}
	],
	"presets": [{
      "name": "Slideshow",
      "category": "Slideshow",
      "blocks": [
        {
          "type": "image"
        }
      ]
    }]
  }
{% endschema %}
<style>
  .slideshow img, .slideshow svg{
    height:{{section.settings.img_height}};
    object-fit: cover;
  }
  .slideshow > .slide-item:not(:first-child){
  	display:none;
  }
</style>
<script type="text/javascript">
  $(document).ready(function(){
    function slideshow(){
      var slide =  $(".occ-slideshow .slideshow");
      slide.not('.slick-initialized').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: slide.data('auto'), 
        autoplaySpeed: slide.data('speed'),
        adaptiveHeight: true,
        arrows: true,
        nextArrow: '<button type="button" class="slick-next">{% include 'icon_next' %}</button>',
        prevArrow: '<button type="button" class="slick-prev">{% include 'icon_prev' %}</button>',
        responsive: [
          {

            breakpoint: 1024,
            settings: {
              arrows:false,
              dots: false

            }
          }
        ]
      });
    }
    slideshow();
    $(document)
    .on( 'shopify:section:load', slideshow )
    .on( 'shopify:section:unload', slideshow);
  });
</script>