<div class="brands-page">
  <header class="page-header">
    <h1>
      {% include 'lang' with  page.title %}
    </h1>
  </header>

  {% comment %}
    Regular page content goes here.
  {% endcomment %}
  
  {% assign list-anphabel = "A|B|C|D|E|F|G|H|I|J|K|L|M|N|O|P|Q|R|S|T|U|V|W|X|Y|Z" | split: "|" %}
  

  <div id="shopify-section-page-brands" class="shopify-section">

  <ul class="occ-brands-table stuck">
    <li class="all-brand">
      <a class="active readonly" href="javascript:void(0)">All</a>
    </li>
	{% for item in list-anphabel %}   
    <li class="vendor-letter">
      <a href="javascript:void(0)" class="readonly">{{ item }}</a>
    </li>
    {% endfor %}
  </ul>
	    
  <div class="brands-list">
    {% for item in list-anphabel %}
    <div class="brand  brand-{{ item }} ">
      <div class="azbrands-title">
        <h3>{{ item }}</h3>
      </div>
      <ul class="brandgrid row">
        {% for product_vendor in shop.vendors %}
          {% assign first_product_vendor = product_vendor | slice: 0 | upcase %}
          {% if first_product_vendor == item %}
              <li class="col-6 col-md-4 col-lg-4 col-xl-3">{{ product_vendor | link_to_vendor }}</li>
          {% endif %}
		{% endfor %}
    </div>
    {% endfor %}
  </div>





  <style>
    .brands-page {
      padding-bottom: 80px;
    }
    .brands-page .page-header {
  /*     padding: 27px 0 14px;
      margin-bottom: 5px; */
    }
    .brands-page .logo-brands {
      padding-bottom: 35px;
      border-top:1px solid #dcdcdc;
      padding-top: 35px;
    }
    .brands-page .occ-brands-table {
      list-style: none;
      padding: 0;
      margin: 0;
      padding-bottom: 20px;
      letter-spacing: -.33em;
      text-align: center;
    }
    .brands-page .occ-brands-table li {
      display: inline-block;
      text-align: center;
      letter-spacing: normal;
      margin-right: -1px;
      margin-bottom: 5px;
    }
    .brands-page .occ-brands-table li a.readonly.active, .brands-page .occ-brands-table .home-best-seller .nav-tabs li a.readonly:hover, .home-best-seller .nav-tabs .brands-page .occ-brands-table li a.readonly:hover {
      color: #323232;
      text-decoration: underline !important;
      background:#fafafa;
    }
    .brands-page .occ-brands-table li a.readonly {
      pointer-events: initial;
      color: #323232;
    }
    .brands-page .occ-brands-table li a {
      pointer-events: none;
      display: block;
      padding: 5px;
      width: 43px;
      height: 43px;
      text-align: center;
      border: 1px solid #dcdcdc;
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase;
      color: #B3B3B3;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
    }
    .brands-page .brands-list .brand {
      padding: 20px 0;
      border-bottom: 1px solid #e6e6e6;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -webkit-box-pack: flex-start;
      -moz-box-pack: flex-start;
      -ms-flex-pack: flex-start;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
    }
    .brands-page .brands-list .azbrands-title {
      -webkit-flex: 0 0 120px;
      -ms-flex: 0 0 120px;
      flex: 0 0 120px;
      max-width: 120px;
      width: 120px;
      padding-right: 10px;
      text-align: left;
    }
    .brands-page .brands-list .azbrands-title h3 {
      margin: 0px;
      font-weight: 600;
      font-size: 18px;
    }
    .brands-page .brands-list .brandgrid {
      list-style: none;
      margin: 0;
      width: -moz-calc(100% - 120px);
      width: -webkit-calc(100% - 120px);
      width: calc(100% - 120px);
      padding: 0px;
    }
    .brands-page .brands-list .brandgrid li {
      padding: 3px 10px;
    }
    .brands-page .brands-list .brandgrid a {
      color: #323232;
    }
    .brands-page .brands-list .brandgrid a:hover{
      text-decoration:none;
      color: #48ade8;
    }
    .brands-page .logo-brands .slick-arrow {
      width: 55px;
      height: 55px;
      background: transparent;
      border: 1px solid transparent;
      outline: none !important;
      position: absolute;
      top: 50%;
      left: 4px;
      cursor: pointer;
      z-index: 2;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -webkit-box-pack: flex-end;
      -moz-box-pack: flex-end;
      -ms-flex-pack: flex-end;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      padding:0px;
    }
    .brands-page .logo-brands .slick-arrow svg {
      display: flex;
      align-items: center;
      justify-content: center;
      fill: #6b686b;
      width: 25px;
      height: 25px;
      padding-right: 2px;

    }
    .brands-page .logo-brands .slick-arrow.slick-nex svg{
       margin-left: auto;
    }
    .brands-page .logo-brands .slick-next {
      left: auto;
      right: 3px;
    }
    .brands-page .logo-brands .slick-arrow.slick-prev  svg{
      margin-right: auto;
    }
    .slide-logo:not(.slick-initialized) {
      opacity: 0;
    }
    @media (max-width: 375px) {
      .brands-page .brands-list .azbrands-title{

        max-width: 50px;
        width: 50px;
      }
      .brands-page .brands-list .azbrands-title {

        width: -moz-calc(100% - 50px);
        width: -webkit-calc(100% - 50px);
        width: calc(100% - 50px);
      }
    }
  </style>
  </div>
</div>



{% if settings.enable_multilang %}
  <div class="rte lang1">{{ page.content | split: '[lang2]' | first }}</div>
  <div class="rte lang2">{{ page.content | split: '[lang2]' | last }}</div>
  {% else %}
  <div class="rte">{{ page.content | split: '[lang2]' | first }}</div>
{% endif %}
