<div class="brands-page">
  <header class="page-header">
    <h1>
      {% include 'lang' with  page.title %}
    </h1>
  </header>
  {% comment %}
    Regular page content goes here.
  {% endcomment %}
  
  {% assign list-anphabel = "A|B|C|D|E|F|G|H|I|J|K|L|M|N|O|P|Q|R|S|T|U|V|W|X|Y|Z|#" | split: "|" %}
  

  <div id="shopify-section-page-brands" class="shopify-section">
    <ul class="occ-brands-table stuck">
      {% for item in list-anphabel %}   
      <li class="vendor-letter">
        {% if item == '#'%}
        <a href="#brandNumber">{{ item }}</a>
        {% else %}
        <a href="#brand{{ item }}">{{ item }}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
	    
    <div class="brands-list">
      {% for item in list-anphabel %}
      <div class="brand  brand-{{ item }} ">
        <div class="azbrands-title">         
          {% if item == '#'%}
           <h3 id="brandNumber">{{ item }}</h3>
          {% else %}
          <h3 id="brand{{ item }}">{{ item }}</h3>
          {% endif %}
        </div>
        <ul class="brandgrid row">
          {% for product_vendor in shop.vendors %}
            {% assign first_product_vendor = product_vendor | slice: 0 | upcase %}
            {% if first_product_vendor == item and item != '#' %}
                <li class="col-6 col-md-4 col-lg-4 col-xl-3">{{ product_vendor | link_to_vendor }}</li>
            {% elsif item == '#' and (first_product_vendor == '0' or first_product_vendor == '1' or first_product_vendor == '2' or first_product_vendor == '3' or first_product_vendor == '4' or first_product_vendor == '5' or first_product_vendor == '6' or first_product_vendor == '7' or first_product_vendor == '8' or first_product_vendor == '9') %}
          		<li class="col-6 col-md-4 col-lg-4 col-xl-3">{{ product_vendor | link_to_vendor }}</li>
            {% endif %}
          {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% if settings.enable_multilang %}
  <div class="rte lang1">{{ page.content | split: '[lang2]' | first }}</div>
  <div class="rte lang2">{{ page.content | split: '[lang2]' | last }}</div>
  {% else %}
  <div class="rte">{{ page.content | split: '[lang2]' | first }}</div>
{% endif %}
<script>
  show_brands: function(){
          $(".brands-list .brand").each(function(){ 
            if ($(this).find('ul li').length == 0) {
          		$(this).remove();
            }
          });
          $(".brands-list .brand").each(function(){
            
            var chi = $(this).find(".azbrands-title h3").text().trim();
            var ch = $(this).find("ul.brandgrid li:eq(0)").text().charAt(0);
            
            $('.occ-brands-table').children().each(function(){
              if( $(this).find('a').text().trim() == chi){
                if( !$(this).find('a').hasClass('readonly') )
                  $(this).find('a').addClass('readonly');
                return;
              }
            });
            if($(this).find(".azbrands-title").length == 0){
              $(this).find("ul.brandgrid").children().appendTo('.brand-' + ch + " ul.brandgrid");
              $(this).remove();
            }
          });
          $(".occ-brands-table .vendor-letter a.readonly").click(function() {
          	  var v = $(this).text();
              if (v == '#') {
                var elTo =  $("#brandNumber");
              } else {
              	var elTo = $("#brand"+v);
              }
              $('html, body').animate({
                  scrollTop: elTo.offset().top
              }, 400);
          });

          /*$('.occ-brands-table .vendor-letter a.readonly').click(function(){
            var v = $(this).text();
            $('.brands-list .brand').hide().filter(function(e){
              var n =  $(this).find('h3').text();
              return n == v;
            }).show();
            
          });
          $('.occ-brands-table a.readonly').click(function(){
            $('.occ-brands-table a').removeClass('active');
            var $this = $(this);
            if (!$this.hasClass('active')) {
              $this.addClass('active');
            }
            var topbrand = $('.header').outerHeight();
            $('html, body').animate({scrollTop: topbrand}, 400);
          });*/
        }
  show_brands();
</script>